<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Trips</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2>All Trips</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Creator</th>
      <th scope="col">Destination</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trip : ${trips}">
      <td th:text="${trip.id}">1</td>
      <td th:text="${trip.description}">Trip 1</td>
      <td th:text="${trip.creator != null ? trip.creator.userEmail : 'Unknown'}">Creator Email</td>
      <td th:text="${trip.destination}">Destination</td>
      <td th:text="${trip.startDate}">Start Date</td>
      <td th:text="${trip.endDate}">End Date</td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
